{% extends '_template.html.twig' %}
{% block main %}

    <div class="column_container">
        <h2>This page lays out who i am, amd why i designed and coded this site.</h2>

        <br>

        <p>My names is James Finglas, and; at the time of coding this site I am a second year student sitting a 4 year Bachelors Degree with Honors in Computer Science At The Institute of Technology
           Blanchardstown. This website is my second year , semester one project in the <em><strong>PHP - Web Dev Server Side Module</strong></em>. I found the project difficult yet engaging and rewarding.
           It's quite something to see your code slowly come together to produce a rather polished product.</p>

        <p>No attempt is made to claim ownership of any externally sourced material (referenced in txt file in source folder) or indeed to infringe on any copyright material.
           Any copyright laid out in the site refers solely to the code within, and the site itself; and not the Intellectual Property of JK Rowling, Warner Brothers, and other other affiliated parties.
           I would like to thank My lecturer Mr. Matt Smith, for his instruction in this module, ITB for another semester of fabulous education; and also JK Rowling herself for giving us the
           magical universe that is Harry Potter.</p>

        <br>

        <img src="../images/me.jpg" alt="ME! literally coding the site as i took this picture">
        <p>"ME! Coding the site as i took this selfie"</p>

    </div>

{% endblock %}