{% extends '_template.html.twig' %}
{% block main %}

    <p>Your Staff Account has been created</p>

    <p>I.D :</p> <q>{{ staff.id }}</q>

    <br>

    <p>Username :</p> <q>{{ staff.username }}</q>

    <br>

    <p>Password :</p> <q>{{ staff.password }}</q>


{% endblock %}