{% extends '_template.html.twig' %}
{% block main %}

    <p>The Product has been added.</p>

    <p>I.D :</p> <q>{{ product.id }}</q>

    <br>

    <p>Description :</p> <q>{{ product.description }}</q>

    <br>

    <p>Price :</p> <q>{{ product.price }}</q>

    <br>

    <p>image :</p> <q>{{ product.Image }}</q>

    <br>

{% endblock %}