{% extends '_template.html.twig' %}
{% block main %}

    <p>The Staff member has been updated.</p>

    <p>I.D :<p></p> <q>{{ staff.id }}</q>

    <br>

    <p>username :</p> <q>{{ staff.username }}</q>

    <br>

    <p>Password :</p> <q>{{ staff.password }}</q>

{% endblock %}