{% extends '_template.html.twig' %}
{% block main %}

    <p>The Admin account has been updated.</p>

    <p>I.D :<p></p> <q>{{ admin.id }}</q>

    <br>

    <p>username :</p> <q>{{ admin.username }}</q>

    <br>

    <p>Password :</p> <q>{{ admin.password }}</q>

{% endblock %}