{% extends '_template.html.twig' %}
{% block main %}

    <p>You have signed up for email updates as a Visitor</p>

    <p>I.D :</p> <q>{{ visitor.id }}</q>

    <br>

    <p>Username :</p> <q>{{ visitor.username }}</q>

    <br>

    <p>E-mail :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> <q>{{ visitor.email }}</q>

    <br>

{% endblock %}