{% extends '_template.html.twig' %}
{% block main %}

    <p>The Visitor has been updated.</p>

    <p>I.D :</p> <q>{{ visitor.id }}</q>

    <br>

    <p>Username :</p> <q>{{ visitor.username }}</q>

    <br>

    <p>Email :</p> <q>{{ visitor.email }}</q>

    <br>

{% endblock %}