{% extends '_template.html.twig' %}
{% block main %}

    <p>Your Admin Account has been created</p>

    <p>I.D :</p> <q>{{ admin.id }}</q>

    <br>

    <p>Username :</p> <q>{{ admin.username }}</q>

    <br>

    <p>Password :</p> <q>{{ admin.password }}</q>


{% endblock %}