{% extends '_template.html.twig' %}
{% block main %}

    <h2>19 years later... </h2>

    <br>

    <div class="column_container">
        <img src="../images/cursed child act 1 pic1.png"  alt="The Potters & the Granger-Weasleys arrive at platform 9 & 3/4s">
        <p>The Potters & the Granger-Weasleys arrive at platform 9 & 3/4s</p>

        <br>

        <h4> Part One - Act One</h4>

        <br>

        <p>The Story picks up, almost exactly where the final installment of the original franchise ended, with Harry, Ginny, Hermione,
           Ron and all their children standing on platform nine and 3/4's; about to send their kids off to Hogwarts. For Harry and ginny
           this means saying farewell for another school year to James, their eldest son, and Albus Severus, their youngest named after
           Harry's two greatest Hero's not counting his father. </p>

        <br>

        <p>For Harry, now an over worked ministry employee as the head of magical law enforcement,, this is of course a bitter sweet moment
           watching his youngest son head off to Hogwarts, the place he considered his home growing up.</p>

        <br>

        <p>For Hermione, Now Minister of Magic, and Ron, who manages Weasleys Wizard Wheezes, it alos a both sad and happy moment, as they
           send their daughter Rose-granger Weasley off to Hogwarts too, to begin her training as a witch.</p>

        <br>

        <p>Also Present is Draco Malfoy with his young son Scorpius Malfoy, Also heading off the Hogwarts.</p>

        <br>

        <p>To every-bodies surprise, young Albus is sorted Slytherin house, along side Young Scorpius where the develop a friendship, despite
           the difficulties presented by their families troubled history.</p>

        <br>

        <p>Harry and albus being to drift apart as albus struggles to liv in his fathers shadow and harry struggles to understand his young
           sons anger and resentment towards him. This leads to a fight between Both parties when young albus is presented with his fathers
           baby blanket and a love potion from Ron, and during the ensuing argument, Albus spills the love potion on his fathers baby
           blanket.</p>

        <br>

        <p>Shortly thereafter harry aquires a very powerful experimental time turner which allows the wearer to go back in time several
           years to change time, and during this period Harrys scar begins to burn once again, leading him to suspect that despite being
           dead almost 20 years, Lord voldemort may be about to rise again. uon discovering the existence of the time turner and Harrys
           possession of it, Amos Diggory who is now old and being card for by his young niece Delphi Diggory, long time memeber of the
           Order of the Phoenix, asks harry to use the powerful time turner to return to the past in order to save his beloved son Cedric,
           who of course was murdered by Lord Voldemort during the epic struggle at the conclusion of the Tri-Wizard tournament. harry
           reluctantly refuses this request, oweing to his experience with how badly time travel can go wrong. However it is unknown to
           harry that albus has overheard the converstion and decided to take matters into his own hands to save Cedric. Shortly after he
           convinces Scorpius to join him in this adventure, and after they escape the Hogwarts express and the trolley operator, the two
           arrive at St. Oswalds home for old witches and wixards in Yorkshire, where amos now lives with Delphi. After a brief conversation
           with Delphi, agrees the cause is noble, the three set forth to steal the time turner from Hermiones office at the ministry for
           magic, where Harry has deposited it, lest he be tempted to use it.</p>

        <br>

        <img src="../images/cursed child act 1 pic2.jpg"  alt="Harry discuses houses and the sorting hat with young Albus Potter">
        <p>Harry discuses houses and the sorting hat with young Albus Potter</p>
    </div>

    <hr>
    <br>

    <!----------------------------->

    <h2>Wit without measure, is a young wizard named Albus</h2>

    <br>

    <div class="column_container">
        <h4> Part One - Act Two</h4>

        <br>

        <img src="../images/cursed child part 1 act2 pic1.jpg" alt="Harry confronts Albus about The dangers of his Friendship with Scorpius">

        <br>

        <p>Harry confronts Albus about The dangers of his Friendship with Scorpius</p>

        <br>

        <p>Albus and Scorpius, having stolen the time turner from Hermiones office, Decide that since Cedrics death was a direct result of both
           he and Harry jointly winning the Tri-Wizard tournament, the logical thing to do is to prevent this from happening. So the boys set
           forth, and journey back in time to the first Tri-Wizard tournament event, The Dragon event. They succesfully sabotage Cedric during
           the first task hoping that this will ultimately prevent his death. However, upon returning to the present, they discover, that much
           as Hermione had warned Harry many years before, terrible things happen to wizards who meddle with time. They return to find a whole
           new reality, in which Albus was sorted into Gryfindor House, Ron and Hermione never got together, leading to Rose never being born.
           Albus investigates and finds that because he disguised himself as Victor Krum in order to sabotage Cedric, herimone became suspicious
           of him and rather then attending the Yule-Tide ball with him. This is turn led to ron never experiencing the jealousy that first made
           him realize he had strong feelings for Herimone. And having attended the ball with Padma Patil, he fell in love with her and went on
           to marry her. And having never produced the now infamous fits of jealousy he displayed in the previous stories, Herimone withheld her
           Feelings for ron, and later went on to become a bitter and frustrated professor at Hogwarts.</p>

        <br>

        <p>Harry, who's scar has been repeatedly burning as it had done prior to the return of Lord Voldemort, grows ever increasingly assured of
           his imminent return, and so travels to Hogwarts to speak the Portrait of Professor Dumbledore in an effort to gain some insight into
           if, and how this might be possible. having spoke to Dumbledore, Harry is convinced the danger lies with Scorpius and speaks to Professor
           McGonagal, demanding that she keep the boys apart, and watch Albus closely, using the marauders map. professor McGonagal initially
           reluctantly agrees and the boys friendship is destroyed. However the two later reconcile after Albus steals his fathers invisibility
           cloak from his brother James, and after seeing how thoroughly miserable the boys have become Professor McGonagal relents and tells Harry
           she can no longer give in to his wishes regarding the boys seperation.</p>

        <br>

        <p>Meanwhile, Albus and Scorpius decide the time has come to make another attempt to save cedric using the time turner. This time the set
           their sights on the second triWizard challenge, and aim to humiliate. Once succesful, they reurn to the present. only for Scorpius to
           discover himself alone. Albus is missing. As he begins to interact with the world and people around him he immediately sense something
           is terribly wrong. And, upon investigation, realises he has emerged from the past into a present where Harry potter is dead, defeated by
           Lord Voldemort who now rules the wizarding world!</p>

        <br>

        <img src="../images/cursed child part 1 act2 pic2.jpg" alt="Harry talks to Ginny about his fears surrounding the possible return of Voldemort">
        <p>Harry talks to Ginny about his fears surrounding the possible return of Voldemort</p>
    </div>

    <!------------------------------->

    <hr>
    <br>

    <h2>The very worst that may yet come to pass</h2>

    <div class="column_container">
        <img src="../images/cursed child part 2 act 3 pic 1.jpg"  alt="Ron Draco and Harry confront Amos Diggory">
        <p>Ron Draco and Harry confront Amos Diggory</p>

        <br>

        <h4> Part Two - Act Three</h4>

        <br>

        <p>Having made the startling discovering that everything he ever knew never was, Scoprios tries to navigate the roubling seas of his new reality. He
           finds the cedric, having now avoided death at the hands of Lord Voldemort due to his humiliation during the Tri-Wizard tournament, has become bitter
           and angry becoming a death eater. Furthermore he discovers that during the battle of Hogwarts in this reality, Cedric murdered Neville Longbottom, who
           a direct effect on the defeat if Lord Voldemort in the true time line. Neville death, and ultimately his failure to kill the great snake Nagini,
           ultimately led to Lord Voldemorts victory in this time line. Also, with Harry dead, his best friend Albus never existed, and Lord voldemort was able
           to solidify his hold over the Ministry of Magic and successfully build his new world for the Dark arts to rein freely.</p>  <!-- introduction paragraph aligned and to the right and flexed -->

        <br>

        <p>To his horror Scorpius finds thta he himself has become a popular Head Boy, and Quidditch star who helps teachers and students torture and torment muggle
           borns. Doloroes Umbridge, now headmistriss of Hogwarts, patrols the school with dementors and a reformed Inquisitorial squad of which Scorpius is the leader.
           His father has taken the plavce of Harry in the Ministry of Magic from where he encourages attacks on muggles and threatens the muggle Prime Minister to remain
           silent.</p>

        <br>

        <p>With help from Ron, Hermione and Severus Snape, now pretty much the only surviving members of the Order of the Phoenix, which has been hunted into ruin, Scorpius
           returns to the past; witnessing Ron, Hermione and Snape sacrificing themselves to the dementors in the process. He is able, with great difficulty, to prevent Albus
           from carrying out his plan to humiliate Cedric at the second tri-Wizard event, restoring the true time line.</p>

        <br>

        <p>Following these events, Albus and scorpius friendship is restored, and despite being furious with Albus, harry extends an olive branch and the two begin to reconcile
           their differences. </p>

        <br>

        <p>Much as his father and Hermione once did, now recognizing the danger the time turner, yet concerned their parents may be tempted to use it, Scorpius and Albus decide
           to destroy it. They are joined by their new friend Delphi, however Scorpius suddenly recognizes Delphi as the Minister of Magic in the terrible time line he was forced
           to endure, and she takes them both prisoner. later she reveals her intention of restoring the alternate time line, which was her plan all along. In fact, it was she who
           mabipulated this whole series of events from the start.</p>

        <br>

        <p>Upon discovering the dissappearance, yet again; of their children, and finding they where last seen with Delphi, the parents set out to confront Amos Diggory. They
           discover to their horror that Delphi is in fact not the niece of Amos, but the Daughter of Lord Voldemort and Bellatrix LeStrange. Upon searching her room, they a prophecy
           which is allowed to reach fruition, would lead to the return of Lord Voldemort.</p>

        <br>

        <p>Delphi takes both Scorpius and Albus to the final event of the Tri-Wizard tournament, however they prevent her from acting to save Lord Voldemort. She in turn travels further
           back in time, unwittingly taking the boys with her, however she destroys the time turner, trapping the boys in the past. </p>

        <br>

        <img src="../images/cursed child part 2 act3 pic2.jpg"  alt="Delphi leads the Death Eaters in the second alternate time line ">
        <p>Delphi leads the Death Eaters in the second alternate time line</p>
    </div> <!--closing divider -->

    <!--------------------------------->

    <hr>
    <br>

    <h2>New meetings with old enemies</h2>

    <br>

    <div class="column_container">
        <h4> Part Two - Act Four</h4>

        <br>

        <img src="../images/cursed child part 2 act 4 pic 1.jpg" alt="Harry and friends prepare to travel in time to save their children">
        <p>Harry and friends prepare to travel in time to save their children</p>  <!-- introduction paragraph aligned and to the right and flexed -->

        <br>

        <p>Trapped in the past, Abandoned to their fate by Delphi, Scorpius and Albus investigate the time they find themselves trapped in, and discover to their amazement they have
           been taken to the night Harrys parents were murdered by Lord Voldemort. naturally they reason out the Delphis plan must be kill Harry as a baby herself, and thus prevent the
           connection between Harry and Voldemort that led to her fathers downfall.</p>

        <br>

        <p>However they aware that magically they are no match for Delphi so cannot confront her directly. They think hard on how to get help when they remember that Albus spilled the
           love potion on Harrys baby blanket. So they brilliantly decide to leave a message on the blanket that will be discovered when, in the future, the potion is spilled on the
           blanket.</p>

        <br>

        <p>Meanwhile, in the present, Harry and his friends think they have no way to reach the kids in the past, until Draco reveals that the time turner was in fact, a proto type used
           to create the only truly functional long distance time turner, which was made for him himself. However, this leaves the gang with a problem. With no real idea of when or where
           the kids went, they have no way to follow. However, when the love potion reveals the message, to his delight, Harry knows he has the answer. They group travel back in time in
           order to stop Delphi and save the boys.</p>

        <br>

        <p>As the group wait for Delphi to appear, they deduce that her plan must be to prevent Lord Voldemort from dooming himself by attempting to kill the baby Harry, which would prevent
           his death and allow her to be with him in the present.</p>

        <br>

        <p>Disguising himself as Lord Voldemort, Harry attempts to distract Delphi allowing the group to subdue her. Finally, Harry must endure his most challenging and painful test of all.
           He must witness the murder of his parents, knowing both the desire to stop Lord Voldemort, and the consequences to wizarding world if he does. After returning to the present,
           Delphi, convicted of high crimes, is sentanced to life imprisonment and is sent to Azkaban to serve out her sentence.</p>

        <br>

        <p>In the final closing scenes of the play, both Albus and Scorpius promise to become more active at Hogwarts, knowing now they have a strenght all of their own, and an enduring
           friendship, built not on the foundations of their families history, but on mutual respect and fondness they share for each other. Harry and albus decide to pay a visit the grave
           of cedric Diggory, where Harry in an emotional scene reminiscint of his previous visit to his parents grave, apologises for his role in the Cedrics death.  </p>

        <br>

        <img src="../images/cursed child part 2 act 4 pic 2.jpg" alt="Harry and friends prepare to face Delphi">
        <p>Harry and friends prepare to face delphi</p>

    </div>

{% endblock %}