{% extends '_template.html.twig' %}
{% block main %}

    <form method="post" action="index.php">

        <legend>Product Insert Form</legend>

        <input type="hidden" name="action" value="processNewProduct">

        <p>Description:<input type="text" name="description" required autofocus value="{{ product.description }}"></p>

        <p>Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="price" required  value="{{ product.price }}"></p>

        <p>Image:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="image" required value="{{ product.image }}"></p>

        <input type="submit" value="INSERT">
    </form>

    <br>

{% endblock %}