{% extends '_template.html.twig' %}
{% block main %}

<h1>bad login!</h1>
<p>
    there was a problem with your username and password!
    <br>
    please try again <li><a href="/index.php">Home</a></li>
</p>

{% endblock %}