{% extends '_template.html.twig' %}
{% block main %}

    <div class="column_container">
        <H1>This is the Site Map, I hope you find it useful.</H1>

        <br>

        <p>The Home page speaks for itself, there you will find the synopsis of the Play</p>
        <li><a href="/index.php" class="current_page">Home</a></li>

        <br>

        <p>The Cast page contains a list of the characters , and who they are played by, both present and past. along with links for some additional info.</p>
        <li><a href="/index.php?action=Cast">Cast</a></li>

        <br>

        <p>The merchandise page contains a list of items which can be purchased from the official Harry potter and the cursed child website.</p>
        <li><a href="/index.php?action=Merchandise">Merchandise</a></li>

        <br>

        <p>The site map is of course , this page, which helps to map out the topology of the site.</p>
        <li><a href="/index.php?action=SiteMap">SiteMap</a></li>

        <br>

        <p>The about Page contains a small amount of personal infor regarding myself, the author and the reasons behind the creation of the website.</p>
        <li><a href="/index.php?action=About">About</a></li>

        <br>

    </div>

{% endblock %}